openapi: '3.0.0'
info:
  version: 1.0.0
  title: CometFallDev API
  license:
    name: MIT
servers:
  - url: http://api.cometfall.dev/v1
paths:
  /players:
    get:
      summary: List all players
      operationId: listPlayers
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of players
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Players'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a player
      operationId: createPlayers
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /players/{playerId}:
    get:
      summary: Info for a player
      operationId: showPlayerById
      parameters:
        - name: playerId
          in: path
          required: true
          description: The id of the player to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Players'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /items:
    get:
      summary: List all items
      operationId: listItems
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of items
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Items'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Player:
      required:
        - id
        - username
      properties:
        id:
          type: integer
          format: int64
        username:
          type: string
        level:
          type: integer
          format: int32
    Players:
      type: array
      items:
        $ref: '#/components/schemas/Player'
    Item:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        rarity:
          type: string
    Items:
      type: array
      items:
        $ref: '#/components/schemas/Item'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string